.text-completed{
  text-decoration: line-through;
}
.task-item{
  cursor: pointer;
}
.App{
  /* text-align: center; */
}
.main{
  margin: 0 auto;
  max-width: 500px;
  margin-top: 50px;

}
.content{
  border: 2px solid #8658b28f;
  padding: 25px;
  border-radius: 5px;
}
table{
  width: 100%;
}
table thead th, td{
  text-align: left;
}